/* Reset Patterns */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}


/* ROOMS PAGE | PÁGINA QUARTOS ====================================================== */

/* Header Section =================================================================== */

.header-container {
  position: fixed;
  border-bottom: 1px solid #b1b1b1;
  background-color: #fff;
  width: 100%;
}

.subcontainer-header {
  display: flex;
  margin: 0px auto;
  padding: 15px 55px;
  width: 100%;
  height: 6vh;
  max-width: 1024px;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
}

.header-homelink {
  font-size: 22px;
  text-decoration: none;
  color: #000;
}

.header-navlinks-container {
  width: fit-content;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-navlinks {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

.home-hightlight {
  color: #007fc9;
}

/* Content Section | Seção Conteúdo ===================================================== */

/* Subsection Banner | Subseção Banner ================================================== */

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/img-fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fit-content;
  width: 100%;
  height: 20vh;
}

.subcontainer-title {
  font-size: 50px;
  font-weight: 700;
}

.subcontainer-text {
  font-size: 25px;
  font-weight: 600;
}

/* Box Texts | Box de Textos ========================================================== */

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.text-subcontainer {
  display: flex;
  width: 100%;
  max-width: 1024px;
  height: 24vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  color: #3d3d3d;
}

.text-title {
  padding-top: 10px;
  font-size: 30px;
  margin: 10px 0;
  font-weight: 400;
}

.text-description {
  font-size: 14px;
}




/* Footer Section | Seção Rodapé ============================================================*/

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #49997d;
  width: 100%;
}

.subcontainer-footer {
  display: flex;
  width: 100%;
  max-width: 1024px;
  flex-flow: column;
  align-items: stretch;
}

.subcontainer-contatos {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0;
  justify-content: space-evenly;
  border-bottom: 2px solid #328167;
}

.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-decoration: none;
  gap: 10px;
  color: #fff;
  flex: 1 1 220px;
}

.footer-title {
  font-size: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.img-card-footer {
  width: 40px;
  height: 40px;
}

.subcontainer-copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  background-color: #49997d;
  width: 100%;
  height: 60px;
}