/* Reset Patterns */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Header Section */

.header-container {
  position: fixed;
  background-color: #fff;
  width: 100%;
}

.subcontainer-header {
  display: flex;
  margin: 0px auto;
  padding: 10px 20px;
  width: 100%;
  max-width: 1024px;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
}

.header-homelink {
  font-size: 24px;
  text-decoration: none;
  color: #000;
}

.header-navlinks-container {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navlinks {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.home-hightlight {
  color: #007fc9;
}

/* Content Section */

/* .container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 45px;
}

.subcontainer-content-1 {

} */