/* Subsection Banner | Subseção Banner ================================================== */

.container-banner-rooms {
  height: 18vh;
}

/* Content Section ====================================================================== */

.content-container, .features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}